<div class="login-main">
  <p-card class="login-container">
    <h2 class="text-5xl">Iniciar sesión</h2>

    <!-- Login Form -->
    <form *ngIf="!showSignup" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-column gap-2">
        <label for="username">Usuario</label>
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-user" />
          <input
            type="text"
            pInputText
            placeholder="Enter your username"
            name="email"
            formControlName="username"
            required
          />
        </p-iconField>
      </div>
      <br />
      <div class="flex flex-column gap-2">
        <label for="password">Contraseña</label>
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-lock" />
          <input
            type="password"
            id="password"
            name="password"
            pInputText
            placeholder="Enter your password"
            formControlName="password"
            required
          />
        </p-iconField>
      </div>
      <br />
      <div class="flex flex-wrap justify-content-between gap-2">
        <p-button
          type="submit"
          severity="success"
          [disabled]="loading || loginForm.invalid"
          >Iniciar sesión</p-button
        >
        <p-button
          label="Registrarse"
          (click)="toggleSignup()"
          [text]="true"
          severity="secondary"
        />
      </div>
    </form>
    <div *ngIf="errorMessage && !loading" class="error-message">
      {{ errorMessage }}
    </div>
  </p-card>
</div>
