<ng-container class="card" *ngIf="!isLoginRoute">
  <p-menubar [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else urlRef">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #urlRef>
        <a
          *ngIf="item.url; else noLink"
          [href]="item.url"
          class="p-menuitem-link"
        >
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #noLink>
        <div
          class="p-menuitem-link"
          [attr.enjisst]="'home__nav__cart'"
        >
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
      </ng-template>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-end gap-1">
        <p-button
          icon="pi pi-shopping-cart"
          [rounded]="true"
          [text]="true"
          [attr.enjisst]="'home__nav__cart'"
          (onClick)="openCart()"

        />
        <p-button
          icon="pi pi-sign-out"
          [rounded]="true"
          [text]="true"
          [attr.enjisst]="'home__nav__logout'"
          (onClick)="logout()"
        />
      </div>
    </ng-template>
  </p-menubar>
</ng-container>
<div class="main-container">
  <router-outlet></router-outlet>
</div>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  position="top-right"
/>
