<div *ngIf="loading" class="menu-list__cont">
  <p-progressSpinner ariaLabel="loading" animationDuration="5s" />
</div>
<ng-container class="flex flex-column justify-content-start" *ngIf="!loading">
  <div id="search__container" class="flex mb-3">
    <p-inputGroup>
      <input
        type="text"
        pInputText
        [(ngModel)]="searchText"
        (input)="filterProducts()"
        [attr.enjisst]="'home__in__search'"

        placeholder="Busca tu plato favorito, por nombre o descripción"
      />
      <!-- <p-button icon="pi pi-search" severity="success" (onClick)="searchProduct($event)" ></p-button> -->
    </p-inputGroup>
  </div>
  <ng-container *ngIf="filteredProducts.length > 0" class="max-h-10">
    <div id="products_cont">
      <div *ngFor="let product of filteredProducts; let i = index">
        <div>
          <div class="carousel-item">
            <div class="product-card">
              <div class="image-container" [attr.enjisst]="'home__menu__item__img'" >
                <img src="{{ product.imagen_url }}" class="product-image"  />
              </div>
              <div class="mb-3 font-medium" [attr.enjisst]="'home__menu__item__name'" >
                {{ product.nombre }}
              </div>
              <div class="mb-3 text-xs text-500" [attr.enjisst]="'home__menu__item__description'" >
                {{ product.descripcion }}
              </div>
              <div class="flex justify-content-between align-items-center">
                <div class="mt-0 font-semibold text-md" [attr.enjisst]="'home__menu__item__price'">
                  {{ product.precio | currency }}
                </div>
                <div class="flex align-items-end">
                  <p-button
                    *ngIf="!product.units"
                    icon="pi pi-shopping-cart"
                    styleClass="ml-2"
                    (onClick)="addToCart(product)"
                    [attr.enjisst]="'home__menu__item' + i"

                  />
                  <p-button
                    *ngIf="product.units > 0"
                    [label]="product.units.toString()"
                    styleClass="ml-2"
                    (onClick)="addToCart(product)"
                    [attr.enjisst]="'home__menu__item' + i"
                  ></p-button>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <p-carousel
    [value]="filteredProducts"
    [numVisible]="4"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    class="custom-carousel"
  >
    <ng-template let-product pTemplate="item">
      <div class="carousel-item">
        <div class="product-card">
          <div class="image-container">
            <img src="{{ product.imagen_url }}" class="product-image" />
          </div>
          <div class="mb-3 font-medium">
            {{ product.nombre }}
          </div>
          <div class="mb-3 text-xs text-500">
            {{ product.descripcion }}
          </div>
          <div class="flex justify-content-between align-items-center">
            <div class="mt-0 font-semibold text-md">
              {{ product.precio | currency }}
            </div>
            <div class="flex align-items-end">
              <p-button icon="pi pi-shopping-cart" styleClass="ml-2" (onClick)="addToCart(product)" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel> -->
  </ng-container>
  <ng-container
    class="flex justify-content-center align-items-center h-300"
    *ngIf="filteredProducts.length === 0"
  >
    No hay coincidencias
  </ng-container>
</ng-container>
